<h1>Listing comments</h1>

<table>
  <tr>
    <th>Body</th>
    <th>Post</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= comment.post.id %></td>
    <td><%= link_to 'Show', post_comment_path(comment.post, comment) %></td>
    <!--ou
    <td><%= link_to 'Show', [comment.post , comment] %></td>--> <!--Esta é a forma elegante, forma rails de fazer.--> <!--E só existem estas duas opções porque 'Show' é a rota default-->
    <td><%= link_to 'Edit', edit_post_comment_path(comment.post , comment) %></td> <!--Como é 'Edit', tem que ser neste formato -->
    <td><%= link_to 'Destroy', [comment.post , comment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_post_comment_path(@post) %>
